:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #646666;
    font-size: 1.6rem; /* 16px */
    overflow: hidden; /* Hide the scrollbar */
}

header {
    position: relative;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* 20px */
    z-index: 1;
}


.link-text{
    color: #000000;
}

.nav-link{
    transition: background-color 0.5s ease;
}

.nav-link:hover {
    background-color: rgba(105, 104, 104, 0.5);
}

.navbar-nav{
    margin-top: 2rem;
    margin-right: 5rem;
    transform: scale(1.2);
}

.logo-img {
    max-height: 3.5rem;
    transform: scaleX(1.2);
    margin-bottom: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1rem; /* 10px */
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #000000; /* Change the color for the links */
}

section {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust text color for better visibility on the background */
}

footer {

    color: #000000;
    text-align: center;
    padding: 1rem; /* 10px */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.custom-img {
    
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: -1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the width of the overlay as needed */
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the transparency as needed */
    /* z-index: -1; */
    animation: slideIn 2s forwards;
  }

  @keyframes slideIn {
    0% {
        left: -100%; 
    }
}

.wrapper {
    margin-right: 20rem;
    animation: fadeIn 1s forwards; /* Animation for the content */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in the content */
    }
}

.content {
    margin-top: 2rem;
}

.heading-style {
    font-family: 'Selfworld', sans-serif;
    font-size: 10rem;
    color: #ffffff;
    position: relative;
    float: right;
}

.about-style.heading-style {
    color: #000000;
    font-size: 3rem;
    font-family: 'Migae', sans-serif;
}

.para-style{
    color: white;
    margin-left: 20rem;
    margin-top: 0rem;
    text-align: justify;
    font-family: 'Glametrix';
    font-weight: bolder;
    font-size: 4.2rem;
}

.about {
    background-color: white;
}

.container-fluid {
    
    margin: 20rem 0 0 10rem;
    padding: 5rem 0;
}

.about-para-style {
    font-family: 'Virgilia', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.left-content {
    padding: 2rem 2rem 1rem 2rem;

    border-radius: 1rem; /* Add rounded corners */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
}

.break {
    display: block;
    margin-top: 1em;
}

.about-image.custom-img{
    filter: blur(0.5rem);
    background-color: rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'Selfworld';
    src: url(../Fonts/Selfworld/Selfworld.otf) format('opentype');
}

@font-face {
    font-family: 'Glametrix';
    src: url(../Fonts/Glametrix/Glametrix.otf) format('opentype');
}

@font-face {
    font-family: 'Migae';
    src: url(../Fonts/Migae/Migae.otf) format('opentype');
}

@font-face {
    font-family: 'Virgilia';
    src: url(../Fonts/Virgilia/Vergilia.ttf) format('opentype');
}

@media only screen and (min-width: 720px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (min-width: 960px) {
    html {
        font-size: 7.5px;
    }
}

@media only screen and (min-width: 1240px) {
    html {
        font-size: 8.5px;
    }
}
